.dropdown-box::before {
    content: "";
    position: absolute;
    top: -8px;          /* posisi arrow */
    right: 14px;        /* sesuaikan dengan posisi icon */
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fefce8; /* warna kuning (bg-yellow-50) */
}

.dropdown-box {
    position: relative;
}
